In [20]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqlconnector://root:@localhost:3306/intro_final', echo=False, max_overflow=-1)

In [ ]:
data = pd.read_csv('clean_tweet.csv')
data.to_sql(name='clean_tweets', con=engine, if_exists = 'replace', index=False, chunksize=100)

In [1]:
data = pd.read_csv('700_tweets.csv', encoding='latin-1')
data.to_sql(name='tweets_700', con=engine, if_exists = 'replace', index=False, chunksize=100)

In [24]:
query = 'select * from clean_tweets'

df = pd.read_sql(query, engine)

df.head()

                                                text  target
0  awww that is bummer you shoulda got david carr...       0
1  is upset that he cannot update his facebook by...       0
2  dived many times for the ball managed to save ...       0
3     my whole body feels itchy and like its on fire       0
4  no it is not behaving at all mad why am here b...       0

In [27]:
query = 'select * from tweets_700'

df_700 = pd.read_sql(query, engine)

df_700.head()

                                                text  target
0  "@zerohedge\n\n#iPhoneXS/#iPhoneXSMax PREORDER...       0
1  A 6.1 inch 720p display in 2018? And they tell...       0
2  Apple has 'defied gravity' with the iPhone for...       1
3  Apple is about to change its business model......       0
4  Despite the ability to perform 5 trillion oper...       0